# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Reports
reports/
*.html

# Editor files
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db